!Configuration File for keepalived 
vrrp_instance VI_{{ vrid }} {
  interface {{ interface }}
  authentication {
    auth_type PASS
    auth_pass fsvpn{{ vrid }}
  }
  advert_int 1
  virtual_router_id {{ vrid }}
  virtual_ipaddress {
    {{ global_vip }} dev {{ interface }}
  }
  nopreempt
}
