<?xml version='1.0' encoding='utf-8'?>
<Server port="8005" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container" 
              type="org.apache.catalina.UserDatabase" 
              description="User database that can be updated and saved" 
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory" 
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">

    <!-- HTTP -->
    <Connector protocol="HTTP/1.1"
               port="8080"
               proxyPort="80"
               connectionTimeout="10000"
               maxThreads="5000"
               packetSize="8192"
               secure="false"
               scheme="http"
               enableLookups="false"
               backlog="100"
               tcpNoDelay="true" />

    <!-- AJP access for HTTPS -->
    <Connector protocol="HTTP/1.1"
               port="8009"
               proxyPort="443"
               connectionTimeout="10000"
               maxThreads="5000"
               packetSize="8192"
               secure="true"
               scheme="https"
               enableLookups="false"
               backlog="100"
               tcpNoDelay="true" />

    <Engine name="Catalina" defaultHost="localhost">

      <Realm className="org.apache.catalina.realm.LockOutRealm">
        <Realm className="org.apache.catalina.realm.UserDatabaseRealm" 
               resourceName="UserDatabase"/>
      </Realm>

      <Host name="localhost" 
            appBase="webapps" 
            unpackWARs="true" autoDeploy="true">

<!--
        <Valve className="org.apache.catalina.valves.AccessLogValve" 
               directory="logs" 
               prefix="localhost_access_log." 
               suffix=".txt" 
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />
-->
      </Host>

      <!-- unitag -->
<!--
      <Host name="fso-tapi.admatrix.jp"
            appBase="webapps/fso-tapi.admatrix.jp"
            unpackWARs="true"
            autoDeploy="false">

        <Valve className="org.apache.catalina.valves.AccessLogValve"
               directory="logs"
               prefix="unitag_access_log."
               suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />

        <Context path=""
                 docBase="ROOT" />
      </Host>
-->

      <!-- sync -->
      <Host name="sync-tapi.admatrix.jp"
            appBase="webapps/sync-tapi.admatrix.jp"
            unpackWARs="true"
            autoDeploy="false">

        <Context path=""
                 docBase="/usr/local/tomcat/webapps/sync-tapi.admatrix.jp/ROOT" />
      </Host>

      <!-- dsp_sync_api -->
<!--
      <Host name="sync-dsp.ad-m.asia"
            appBase="webapps"
            unpackWARs="true"
            autoDeploy="false">

        <Valve className="org.apache.catalina.valves.AccessLogValve"
               directory="logs"
               prefix="dsp_sync_access_log."
               suffix=".txt"
               pattern="%h %l %u %t &quot;%r&quot; %s %b" />

        <Context path=""
                 docBase="/usr/local/tomcat/webapps" />
      </Host>
-->

    </Engine>
  </Service>
</Server>
